<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation code - title</title>
  </head>
  <body>
    <div>
      <h1>Welcome to use - lms</h1>
      <br />
      <p>Hello <%= name %></p>
      <p>follow this code : <%= activationCode %></p>
    </div>
  </body>
</html>
